.photoMessage img {
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.photoMessage {
    display: flex;
    align-items: center;
}

