.pagination{
    max-width: 600px;
    display:flex;
    justify-content: center;

}

.buttonElement {
    border: none;
    cursor: pointer;
    background: transparent;
    height: 24px;
    width: 34px;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 12px;
    color: #2D2E46;
}

.selected {
    color: #F2F5F7;
    background: #21268F;
    border-radius: 2px;
}

.spanElement {
    width: 100px;
    font-size: 12px;
}

.selectNumber {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #635D80;
    border-radius: 2px;
    width: 39px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:before {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 2px solid #2D2E46;
    border-left: 2px solid #2D2E46;
}

.arrow:disabled {
    cursor: default;
    opacity: 40%;
}

.nextArrow:before {
    transform: rotate(135deg);
}

.prevArrow:before {
    transform: rotate(-45deg);
}

