.avatar {
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.wrapper {
    display: flex;
    align-items: center;
    max-width: 300px;
}

.avaWrapper {
    margin: 6px;
}

.button {
    margin: 6px;
}

.nameBlock {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

