.header {
    width: auto;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px ;
    height: 60px ;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.login {
    color:#F2F5F7;
    margin: 0 20px;
}

.loginBlock {
    float: right;
}
