.nav {
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;
}

.item a{
    color: blueviolet;
    text-decoration: none;
}

.item.active{
    color: aquamarine;
}
.link {
    color: white;
    text-decoration: none;
}