.imgWrapper img {
    width: 100px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.avaBlock {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.ava {
    max-width: 250px;
}

.inputPhoto {
    display: none;
}

.labelPhoto {
    display: inline-block;
    cursor: pointer;
}


