.imgWrapper img {
    width: 100px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.avaBlock {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.ava {
    max-width: 250px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.inputPhoto {
    display: none;
}

.labelPhoto {
    display: inline-block;
    cursor: pointer;
}


